<!DOCTYPE html>
<html>
  <head>
    <title>BonjourMonde</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
